@font-face {
    font-family: "chosunSg";
    font-weight: normal;
    font-style: normal;
    src: url("https://cdn.jsdelivr.net/gh/websfont/chosunSg/chosunSg.eot");
    src: url("https://cdn.jsdelivr.net/gh/websfont/chosunSg/chosunSg.eot?#iefix") format("embedded-opentype"),
         url("https://cdn.jsdelivr.net/gh/websfont/chosunSg/chosunSg.woff2") format("woff2"),
         url("https://cdn.jsdelivr.net/gh/websfont/chosunSg/chosunSg.woff") format("woff"),
         url("https://cdn.jsdelivr.net/gh/websfont/chosunSg/chosunSg.ttf") format("truetype");
    font-display: swap;
} 
.chosunSg {
    font-family: "chosunSg";
}